div {
    width: 350px;
    height: 250px;
}
div {
    padding: 10px 15px 20px 10px;
}
 div {
    margin-bottom: 30px;
 }
 div {
    border: 2px dotted red;
    
 }
 body{
    background-color: aqua;
 }
